body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}
.blue {
  color: #2196f3;
}
.webstudio {
  font-family: "Raleway";
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03;
}
.webstudio2 {
  font-family: "Raleway";
  font-weight: 700;
  /* color: #ffffff; */
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03;
}
.link {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02;
}
.contact {
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02;
}
.webstudio:hover,
.webstudio:focus {
  color: #2196f3;
}
.webstudio2:hover,
.webstudio2:focus {
  color: #2196f3;
}

.link:hover,
.link:focus {
  color: #2196f3;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  background-color: #f5f4fa;
  border: 1px #9c9c9c;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.62;
  letter-spacing: 0.03;
}

.btn:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 1px 4px 3px 0px #b2b2b3;
  border: 1px #9c9c9c;
}
.btn-studio {
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  background-color: #2196f3;
  border: 1px #9c9c9c;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.88;
  letter-spacing: 0.06;
}
.btn-studio:hover {
  box-shadow: 1px 0px 2px 3px #8c8c8c;
}
.portfolio-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
}
.portfolio-descr {
  font-size: 16px;
  color: #757575;
  line-height: 1.88;
  letter-spacing: 0.06;
}
.address {
  font-size: 14px;
  /* color: #ffffff; */
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03;
}
.title {
  font-weight: 900;
  font-size: 44px;
  /* color: #ffffff; */
  line-height: 1.36;
  letter-spacing: 0.06;
}
.lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03;
}
.paragraph {
  font-size: 14px;
  color: #757575;
  line-height: 1.71;
  letter-spacing: 0.03;
}
.what-we-do,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 0.03;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03;
}

.job-name {
  font-size: 16px;
  color: #757575;
  line-height: 1.18;
  letter-spacing: 0.03;
}
